html,
body {
  font-family: 'Oswald', sans-serif;
  max-width: 100%;
}

.pageWidth {
  max-width: 90%;
}

.container1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 5%;
}

.container2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.h1img {
  font-size: 2.5rem;
  padding-top: 1.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  /* padding-top: 2.5%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.buttonWrapper{
  margin-top: -1%;
  text-align: center;
  display: block;
}

.button {
  top: 50%;
  margin-top: 3%;
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(224, 0, 0);
  padding: 15px;
  border-radius: 4px;
  /* text-align: center; */
  text-decoration: none;
  display: inline-block;
  font-size: 34px;
  border: 2px solid rgb(244, 0, 0);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  max-width: 100%;
}

.button:hover{
  background-color: #32CD32;
  font-size: 20px;
  transition: 0.5s;
}

.button {
  transition-duration: 0.4s;
  max-width: 100%;
}

.button:hover {
  background-color: rgb(224, 0, 0);
  color: white;
}

.scale-in-top {
	-webkit-animation: scale-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: scale-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          
}

.scale-in-top-quiz {
	-webkit-animation: scale-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	        animation: scale-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

.scale-in-top-button {
	-webkit-animation: scale-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: scale-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

.scale-in-top-set1 {
	-webkit-animation: scale-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	        animation: scale-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

.scale-in-top-set2 {
	-webkit-animation: scale-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: scale-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

.scale-in-top-set3 {
	-webkit-animation: scale-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
	        animation: scale-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
}

.scale-in-top-set4 {
	-webkit-animation: scale-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	        animation: scale-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}

.scale-in-top-set5 {
	-webkit-animation: scale-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both;
	        animation: scale-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both;
}

.scale-in-top-set6 {
	-webkit-animation: scale-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
	        animation: scale-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-4-28 14:45:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}


.page-cover {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  max-width: 100%;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-wrap { 
  position: relative;
  width: 100%;
  height: 500px;
  padding: 20px;
  background: white;
  -moz-box-shadow: 20px black;
  -webkit-box-shadow: 20px black;
  box-shadow: 20px black; 
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container {
  max-width: 100%;
}

.header-text {
  text-align: center;
}

.subheader-text {
  text-align: center;
  max-width: 75%;
}

.header-text h1 {
  /* font-size: 5vw; */
  text-align: center;
  padding-bottom: 3%;
  font-weight: bold;
}

.header-text h4 {
  width: 75%;
  text-align: center;
  margin: auto;
  font-weight: 200;
}

.myContainer {
  text-align: center;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 15vw; */
  line-height: 1;
  padding: 0;
  margin: 0;
}

.half-container {
  /* position: absolute; */
  text-align: center;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15vw;
  line-height: 1;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.image-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

.image-column {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 30px;
}

.image-column img {
  margin: 0px 8px 0px 8px;
  vertical-align: middle;
  width: 100%;
}
ul {
  list-style: none;
  padding-left: 0;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #555;
  color: #bbb;
  text-align: center;
}

/* footer {
  background-color: #555;
  color: #bbb;
  line-height: 1.5;
} */
footer a {
  text-decoration: none;
  color: #eee;
}
a:hover {
  text-decoration: underline;
}
.ft-title {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}
/* Sticks footer to bottom */
/* body {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
}
.container {
  flex: 1;
} */
/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}

.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

/* Footer social */

.ft-social-list {
  /* display: flex;
  justify-content: center; */
  /* padding: 1.25rem 0 1.25rem 0; */
  /* margin-bottom: 0; */
}
/* .ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
} */

/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
@media only screen and (min-width: 320px) {
  .ft-main {
    justify-content: space-evenly;
  }
  .toi1, .toi2, .toi3 {
    font-size: 10vw;
  }
  .nav-link {
    padding: 0.5rem;
  }
}

@media only screen and (min-width: 29.8125rem) {
  .ft-main {
    justify-content: space-evenly;
  }
  .toi1, .toi2, .toi3 {
    font-size: 7vw;
  }
  .nav-link {
    padding: 0.5rem;
  }
}
@media only screen and (min-width: 77.5rem) {
  .ft-main {
    justify-content: space-evenly;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .image-column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .image-column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  .page-cover {
    background-attachment:initial;
  }
}

/* Bootsrap Breakpoints */

/* Small devices (landscape phones, 544px and up) */
/* @media (min-width: 244px) {  
  .toi1, .toi2, .toi3 {
    font-size: 10vw;
  }
  .nav-link {
    padding: 0.5rem;
  }
} */

@media (min-width: 544px) {  
  /* .toi1, .toi2, .toi3 {font-size: 10vw;} */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
  /* .toi1, .toi2, .toi3 {font-size: 80px;} */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  /* .toi1, .toi2, .toi3 {font-size: 90px;} */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  /* .toi1, .toi2, .toi3 {font-size: 5vw} */
}

